/* MenuBar */
nav.navbar.navbar-light {
    background: var(--gray) !important;
}

.logo {
    color: var(--primary);
    font-weight: bold;
    font-size: 24px;
}

#basic-nav-dropdown {
    color: var(--neutral) !important;
}

.nav-link {
    font-weight: bold !important;
    color: var(--primary) !important;
    font-size: 18px !important;
}

.nav-link.active {
    color: var(--secondary) !important;
}

.dropdown-item {
    font-size: 18px;
}
.dropdown-menu.show {
    z-index: 9999;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--primary) !important;
    color: var(--accent) !important;
}

/* Mini Hero  */
.hero-title {
    color: var(--primary);
}

/* Course Area  */
.course-card-footer.card-footer {
    background-color: var(--neutral) !important;
    color: var(--gray) !important;
}

.duration {
    color: var(--accent);
}

/* Blog section  */
.accordion-button:not(.collapsed) {
    color: var(--accent) !important;
    background-color: var(--neutral) !important;
}

/* Sidebar  */
.sidebar {
    overflow-y: scroll;
    height: 100vh;
}

/* scrollbar  */
.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.sidebar::-webkit-scrollbar-thumb {
    background: var(--primary);
}

.sidebar-list {
    display: block;
    border-radius: 8px;
    padding: 10px;
    margin: 0 10px;
    color: var(--neutral);
}

.sidebar-list.active {
    background: var(--primary);
    color: var(--gray);
}



@media screen and (max-width: 992px) {

    .vh-80 {
        height: none
    }

}